<div class="content">
    <%= image_tag("image-collectif.png", :alt => "colletif-rhs") %>
    <div class="content-inside">
        <div class="content-text">
            <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et 
            </p>
        </div>
        <div class="content-list">
            <ul>
                <li># Season 1</li>
                <li># Posted on Sep 11, 2020</li>
                <li># audio / goodbyes</li>
            </ul>
        </div>
    </div>
        <div class="content-text">
        <h2>Titre</h2>
            <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et 
            </p>
        </div>
        <div class="content-text">
            <h2>Explication en vidéo</h2>
            <div class="content-video">
            <video src="exemple.mp4" width=100%  height=400 controls poster="vignette.jpg">
                Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
                Une version est disponible en téléchargement sous <a href="URL">adresse du lien </a> . 
            </video>
            </div>
            <br>
            <br>
            <div class="content-video">
            <video src="exemple.mp4" width=100%  height=400 controls poster="vignette.jpg">
                Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
                Une version est disponible en téléchargement sous <a href="URL">adresse du lien </a> . 
            </video>
        </div>
        <h2>Télécharger les ressources PDF</h2>
        <ul>
            <li class="list-fiche">-Fiche générique</li>
            <li class="list-fiche">-Fiche détaillé</li>
        </ul>
    </div>
    
</div>