<div class="main">
    <div class="main-page-content">
        <div class="main-content-title">
            <h1>Les outils pédagogiques disponibles :</h1>
            <button href="">Voir plus</button>
        </div>


        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Raconte moi ton quartier</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href="">#Coéducation</a>
                <a href="">#Coéducation</a>
                <a href="">#Coéducation</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Pratique carte mental</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="line-card-link">
                <a href="">#Coéducation</a>
                <a href="">#Coéducation</a>
                <a href="">#Coéducation</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Oudordodo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href="">#Coéducation</a>
                <a href="">#Coéducation</a>
                <a href="">#Coéducation</a>
            </div>
        </div>

        <div class="main-button">
            <button href="">Voir les outils disponibles</button>
        </div>
    </div>

    <div class="second-page-content">
        <h1>Le projet Réseau Hainaut Solidaire</h1>
        <div class="second-content">
            <%= image_tag "VRgamezone.jpg" %>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>